$color-primary-light:#f3270d;
$color-primary-dark:#b31c09;

$color-grey-1:#fff;
$color-grey-2:#eee;

$color-grey-light:#d4d4d4;
$color-grey-dark:#a2a2a2;

$color-secondary-light:#1a1a1a;
$color-secondary-dark:#000;